.logo {
  animation: logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
