.Main {
  text-align: center;
}

.Main-logo {
  animation: Main-logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
}

.Main-header {
  background: linear-gradient(89deg, #ff3a00, #f0860f, #ff3a00, #f0860f);
  background-size: 800% 800%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  -webkit-animation: AnimationName 43s ease infinite;
  -moz-animation: AnimationName 43s ease infinite;
  animation: AnimationName 43s ease infinite;
}

.Main-link {
  color: white;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
